name: CI

on:
  pull_request:
  push:

jobs:
  build:
    name: DargStack rgen
    uses: dargmuesli/github-actions/.github/workflows/dargstack-rgen.yml@4e6e3d3fa4b81be372036d8ac7b14638d27be045 # 2.7.0
  release-semantic:
    needs: build
    name: Semantic Release
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@4e6e3d3fa4b81be372036d8ac7b14638d27be045 # 2.7.0
    permissions:
      contents: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
